


 
  <div class="table-responsive table-borderd text-center">
  <table class="table table-bordered">
    <tr>
      <td style="width: 3%"></td>
      <td style="width: 9.7%">Team 1</td>
      <td style="width: 9.7%">Team 2</td>
      <td style="width: 9.7%">Team 3</td>
      <td style="width: 9.7%">Team 4</td>
      <td style="width: 9.7%">Team 5</td>
      <td style="width: 9.7%">Team 6</td>
      <td style="width: 9.7%">Team 7</td>
      <td style="width: 9.7%">Team 8</td>
      <td style="width: 9.7%">Team 9</td>
      <td style="width: 9.7%">Team 10</td>
      
    </tr>
    <%i = 1 %>
    <%pick = 1%>
    <% while i <= 14%>
      <tr style="height: 80px">
        <td><h3><%=i%></h2></td>
        <td></td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
        <td>Team</td>
      </tr>
    <% i += 1%>
    <%end%>
  </table>
  </div>


