<div class='bg football-img'>
    <div>
        <h1>The Draft App</h1>
    </div>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='home-page-info'>
            <p id='info' class='text-center'>This is info about the app. So much info to write. It's crazy how much info there is. Can talk about this for hours and hours. So insane. I'm gonna run out of room.</p>
        </div>
    </div>
    <div class='row home-links-container'>
        <div class='col-xs-2'></div>
        <div class='col-xs-3 text-center home-links'><h2><%= link_to 'Sign Up', new_user_registration_path %></h2></div>
        <div class='col-xs-2'></div>
        <div class='col-xs-3 text-center home-links'><h2><%= link_to 'Sign In', new_user_session_path %></h2></div>
        <div class='col-xs-2'></div>
    </div>
</div>