<div class='bg football-img'>
    <div>
        <h1>The Draft App</h1>
    </div>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-6'><h1>Sign Up</h1></div>
        <div class='col-xs-6 text-right'><h1>Sign In</h1></div>
    </div>
</div>