.sign-up-btn{
    padding: 15px 0px;
    padding-bottom: 30px;
}

.log-in-btn{
    padding: 15px 0px;
    padding-bottom: 30px;
}

.forgot-password{
    margin: 15px 0px;
    text-decoration: none;
}

.forgot-password:hover{
    text-decoration: none;
}